<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Music Flask</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap-theme.min.css') }}">
    <!--keep jquery before bootstrap-->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
<!--navbar-->
    {% include 'navbar.html' %}
<!--content-->
    <div id="content">{% block content %}{% endblock %}</div>
<!--Footer-->
    {% include 'footer.html' %}
  </body>
</html>
