{% extends "base.html" %}
{% block title %}Download{% endblock %}
{% block head %}
  <script>
  var source = new EventSource("/progress");
  source.onmessage = function(event) {
    $('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);
    $('.progress-bar-label').text(event.data+'%');

    if(event.data == 100){
      source.close()
    }
  }
  </script>

{% endblock %}
{% block content %}
    <div class="container">
      <div style='text-align: center;'>
        <h1>Welcome to <b>Music Flask</b>,</h1>
        <br/>
        <h5>
        <p class>
          <i>a WEB application which aims to <u>make downloading youtube music easier</u> !</i>
        </p>
        </h5>
      </div>
      <br>
      <form action="" method="post" role="form">
        <div class="form-group">
          You can download multiple files by separating your URL by a [space]
          <br/>
          <br/>
          <label for="name">URLs</label>
          <input required="required" type="url" placeholder="https://www.youtube.com/watch?video1 https://www.youtube.com/watch?video2" name="URL" class="form-control" id="URL" value="{{ request.form.URL }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </div>
        <button type="submit" class="btn btn-success">Download</button>
      </form>
      <br/>

  <div class="progress" style="width: 50%; margin: 50px;">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <span class="progress-bar-label">0%</span>
    </div>
  </div>
</div>



      <br/>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              {% if category == "info" %}
                <li style="color: green;font-weight: bold;" class="{{ category }}">{{ message }}</li>
              {% else %}
                <li style="color: red;font-weight: bold;" class="{{ category }}">{{ message }}</li>
              {% endif %}
            {% endfor %}
              </div>
            </ul>
        {% endif %}
      {% endwith %}
      <br/>
    </div>
{% endblock %}
