{% extends "base.html" %}
{% block title %}Music List{% endblock %}
{% block content %}
    <div style='text-align: center;' class="container">
      <h1><b>Music list</b></h1>
      <br/>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
              {% if category == "info" %}
                <li style="color: green;font-weight: bold;" class="{{ category }}">{{ message }}</li>
              {% else %}
                <li style="color: red;font-weight: bold;" class="{{ category }}">{{ message }}</li>
              {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <br/>
      {% for music in musics %}
        <a href="/music/{{ music }}" > {{ music }} </a>
        <br/>
      {% endfor %}
      <br/>
    </div>
{% endblock %}
